* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font-sans {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.logo img {
  width: 139px;
  height: 60px;
}

.btn {
  background-color: #30B868;
  width: 164px;
  height: 44px;
  border: none;
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
    color: #FFFFFF;
  cursor: pointer;
}
.btn:hover{
  background-color: rgb(38, 209, 209);
}
header {
  background-color: #ffffff;
}
nav{
    width: 100%;
    max-width: 1600px;
    height: 92px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
}
nav .menu {
    font-size: 16px;
    font-weight: 500;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 32px;
}
nav .menu a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}
nav .menu a:hover{
    color: #3930b8;
}
#bannar .bannar-content {
    padding-top: 0px;;
    width: 100%;
    height: 674px;
    max-width: 1600px;
    margin: 0 auto;
    align-items: center;
    background-image: url(images/hero-bg.png);
    background-size: cover;
}

#bannar .bannar-content .bannar-text {
    width: 100%;
    max-width: 1360px;
    height: 379px;
    margin: 0 auto;
    padding: 115.5px 120px 179.5px 120px;
    text-align: center;
}
#bannar .bannar-content .bannar-text .second-btn {
    height: 52px;
    width: 251px;
    background-color: #30B868;
    color: #FFFFFF;
    padding: 12px 16px;
    margin-right: 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
}
#bannar .bannar-content .bannar-text .second-btn:hover{
  background-color: rgb(38, 209, 209);
}
#bannar .bannar-content .bannar-text .third-btn {
    height: 52px;
    width: 198px;
    background-color: transparent;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
#bannar .bannar-content .bannar-text .third-btn:hover{
  background-color: rgb(38, 209, 209);
}
#bannar .bannar-content .bannar-text .badge {
    width: 229px;
    height: 35px;
    margin: 0 auto;
    display: flex;
    gap: 6px;
    background-color: #ffffff;
    color: #30B868;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 24px;
    text-align: center;
}
#bannar .bannar-content .bannar-text .badge:hover{
    background-color: rgb(38, 209, 209);
}
#bannar .bannar-content .bannar-text .badge img {
    background-color: #469165;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    opacity: 0.6;
}
#bannar .bannar-content .bannar-text h1 {
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    font-size: 72px;
    font-weight: 700;
    opacity: 90%;
    color: #ffffff
    
}
#bannar .bannar-content .bannar-text h1 .color{
    color: #30B868;
}
#bannar .bannar-content .bannar-text p {
    padding-bottom: 32px;
    text-align: center;
    line-height: 24px;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
}
#about {
    width: 100%;
    max-width: 1360px;
    height: 152px;
    margin: 0 auto;
}
#about .about-info {
    margin: 0 auto;
    text-align: center;
}
#about .about-info h1 {
    font-size: 48px;
    font-weight: 700;
    font-style: bold;
    color: #001931;
    margin-bottom: 16px;
}
#about .about-info p {
    font-size: 16px;
    color: #627382;
    margin-bottom: 40px;
}
#skill {
    width: 100%;
    max-width: 1360px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
}
#skill .skill-box {
    display: flex;
    gap: 24px;
}
.skill-box .skill-card {
    padding-top: 69.5px;
    margin-top: 44px;
    width: 322px;
    height: 300px;
    box-shadow: 0px 0px 8px 0px #0000000F;  
}
.skill-card img {
    background-color: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-items: center;
}
#skill .skill-card h3 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}
#skill .skill-card p {
    font-size: 16px;
    width: 274px;
    height: 40px;
    margin: 0 auto;
    color: #627382;
}
#solution {
    width: 100%;
    max-width: 1600px;
    padding: 120px;
    display: flex;
    margin: 0 auto;
}
#solution .solution-image img {
    width: 600px;
    height: 600px;
}
#solution .solution-info {
    max-width: 700px;
    padding: 101.5px 0;
    margin: 0 auto;
}
#solution .solution-info h6{
    font-size: 16px;
    color: #30B868;
    padding-bottom: 16px;
}
#solution .solution-info h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    padding-bottom: 16px;
}
#solution .solution-info p{
    font-size: 16px;
    color: #627382;
    padding-bottom: 40px;
}
#solution .solution-info h5{
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 16px;
    margin: 0 auto;
    color: #001931;
    display: flex;
    gap: 6px;
}
#last-section {
    width: 100%;
    max-width: 1600px;
    height: 506px;
    padding: 2px 120px 120px 120px;
    margin: 0 auto;
}
#last-section .last-content {
    max-width: 1360px;
    height: 384px;
    padding: 80px 40px;
    margin: 0 auto;
    border-radius: 12px;
    text-align: center; 
    background-color: #F7F6F2;
}
#last-section .last-content .last-content-info{
    width: 1280px;
    height: 112px;
}
#last-section .last-content .last-content-info h1{
    height: 48px;
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
#last-section .last-content .last-content-info p{
    font-size: 16px;
    color: #627382;
}
#last-section .last-content .early-access-section{
    width: 1280px;
    height: 88px;
}
#last-section .last-content .early-access-section .ea-btn{
    height: 52px;
    width: 194px;
    border: none;
    border-radius: 4px;
    background-color: #30B868;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 24px;
    margin-bottom: 16px;
}
#last-section .last-content .early-access-section .ea-btn:hover{
  background-color: rgb(38, 209, 209);
}
#last-section .last-content .early-access-section span{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}
footer {
    width: 100%;
    max-width: 1600px;
    height: 348px;
    margin: 0 auto;
    background-color: #001931;
    color: #ffffff;
    padding: 40px 0;
}
footer .footer-container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 80px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .footer-container .footer-logo img {
    width: 139px;
    height: 60px;
}
footer .footer-container .footer-social p{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 16px;
}
footer .footer-container .footer-social img {
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    display: inline-block;
    margin-right: 16px;
}
footer .footer-container .footer-social img:hover{
    background-color: #26aae7;
}
footer .footer-bottom hr {
    width: 1360px;
    height: 0px;
    margin: 0 auto;
    border: 1px solid #E5E7EB;
    opacity: 20%;
    margin-bottom: 30px;
}
footer .footer-bottom p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #FAFAFA;
}